html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: transparent;
}

body {
    display: flex;
    flex-direction: column;
}

#title-bar {
    flex: 0 0;
    -webkit-app-region: drag;
    height: fit-content;
    width: 100vw;
    padding: 0.5em;
    background-color: #27202bd3;
    z-index: 1000;
    border-bottom: 1px solid #f8ea9c;
    border-top: 2px solid #1f1922;
    box-shadow: 0 0 5px #000;
    box-sizing: border-box;
}
   
#title {
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.125em;
    color: #fff;
    line-height: 1;
    margin-left: 0.35em;
}

#videoName {
    display: inline;
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    overflow: hidden;
    color: #fff;
    font-weight: 100;
    padding: 0 0.75em;
    box-sizing: border-box;
    margin-left: 0.5em;
}
   
#title-bar-btns {
    display: inline;
    float: right;
    -webkit-app-region: no-drag;
}

.title-bar-button {
    outline: none;
    border: none;
    font-size: 1em;
    background: transparent;
    color: #fff;
    margin: 0.25em 0;
    line-height: 1;
    cursor: pointer;
}

.title-bar-button:hover {
    color: #a8a8a8;
}

#close-btn:hover {
    color: #fc637d;
}

#alertDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 0;
    right: 0;
    z-index: 5000;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.alert {
    width: fit-content;
    padding: 15px;
    background-color: #554158;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    opacity: 1;
    transition: opacity 0.6s;
    box-shadow: 0 0 10px #231c25;
    margin-top: 0.5rem;
}

.close-alert {
    float: right;
    color: #fff;
    right: 25px;
    top: 0;
    padding: 0.25rem;
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 0.5;
}
  
.close-alert:hover,
.close-alert:focus {
    color: #fc637d;
    cursor: pointer;
}

.ui-container {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    align-content: center;
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background: rgb(238,174,202);
    background: linear-gradient(135deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.close-ui {
    position: absolute;
    top: 12vh;
    right: 3vw;
    line-height: 0.5;
    font-size: 9vh;
    color: #fff;
    cursor: pointer;
}

.close-ui:hover {
    color: #fc637d;
}

.brand {
    margin: 1em 0 0.25em 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(248, 230, 172);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 18vh;
    font-weight: bold;
    align-self: center;
    width: fit-content;
}

.tagline {
    padding: 0 0.5em 0.1em 0.5em;
    margin: 0 0 15vw 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00000073;
    color: #ffffff;
    font-size: 4.5vh;
    font-weight: lighter;
    align-self: center;
    width: fit-content;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.player-container {
    flex: 1 0;
    background-color: #000000;
    width: 100vw;
}

input[type="file"] {
    display: none;
}

input[type="text"] {
    width: 40vw;
    padding: 0.5em;
    margin: 2em 0 0.5em 0;
    border: 2px solid #000000;
    box-shadow: 1px 1px 5px #00000080;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 3vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #ffffff00;
    color: #000000;
    outline: none;
}

#sessionJoinId {
    width: 35vw;
    box-sizing: border-box;
}

.ui-button {
    display: block;
    margin: 2vh 0;
    border: 1px solid #000;
    box-shadow: 1px 1px 5px #00000080;
    width: 35vw;
    padding: 0.5em;
    background: #ffffff5b;
    color: #000000;
    text-align: center;
    cursor: pointer;
    font-size: 3vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    outline: none;
}

.ui-item {
    display: block;
    margin: 2vh 0;
    border: 1px solid #000;
    box-shadow: 1px 1px 5px #00000080;
    width: 35vw;
    padding: 0.5em;
    background: #ffffff00;
    color: #000000;
    text-align: center;
    font-size: 3vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.1em;
    box-sizing: border-box;
}

.wp-item {
    margin: 2vh 0 4vh 0;
}

#joinedMessageSpan {
    padding: 1em;
    color: #000000;
    text-align: center;
    font-size: 3vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.1em;
}

#customControls {
    font-size: 1.5em;
    line-height: normal;
}

.player-button {
    display: block !important;
    float: right !important;
    padding: 0.625em !important;
    background: #363636 !important;
    opacity: 70% !important;
    color: #ffffff !important;
    border: none !important;
    border-radius: 1.5rem !important;
    outline: none !important;
    cursor: pointer !important;
    line-height: normal !important;
    box-sizing: border-box;
}

.player-button:hover {
    opacity: 95% !important;
}

.player-button-active {
    opacity: 100% !important;
    border: 1px solid #000000 !important;
}

#homeOpenButton {
    position: absolute;
    left: 0.75em;
    top: 0.75em;
    z-index: 2;
}

#subtitlesButton {
    position: absolute;
    left: 3.75em;
    top: 0.75em;
    z-index: 2;
}

#watchPartyButton {
    position: absolute;
    left: 6.75em;
    top: 0.75em;
    z-index: 2;
}

#playbackSyncButton {
    position: absolute;
    left: 9.75em;
    top: 0.75em;
    z-index: 2;
}

#chatOpenButton {
    position: absolute;
    right: 0.75em;
    top: 0.75em;
    z-index: 2;
}

.playback-sync-toggle {
    font-size: 2.75vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chatroom {
    display: flex;
    flex-direction: column;
    float: right;
    position: absolute;
    right: 1.75em;
    top: 1.75em;
    z-index: 1;
    height: 60vh;
    width: 40vh;
    background-color: #00000080;
    border: 1px solid #000000;
    color: #000000;
    box-shadow: 0 0 5px #000;
}

.chat-area {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: hidden;
    padding: 0.75em;
    box-sizing: border-box;
}

.chat-area:hover {
    overflow-y: auto;
}

.chat-area::-webkit-scrollbar {
    width: 7.5px;
}

.chat-area::-webkit-scrollbar-corner {
    background: #00000000;
}

.chat-area::-webkit-scrollbar-thumb {
    background: #222222;
    border-radius: 5px;
}

.message-container {
    display: flex;
    flex-direction: column;
    padding: 0.25em 0.5em;
    margin-bottom: 0.5em;
    background-color: #00000073;
    width: fit-content;
    max-width: 60%;
    height: fit-content;
    word-wrap: break-word;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 1px 1px 5px #111111;
}

.sent-message {
    align-self: flex-end;
    background-color: #71477e86;
    box-shadow: -1px 1px 5px #111111;
}

.message-author {
    font-size: 0.75em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-bottom: 0.1em;
    margin-bottom: 0.125em;
}

.message-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
}

.chat-info-container {
    margin-bottom: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 0.75em;
    color: #ccc;
    width: 100%;
    text-align: center;
}

.message-input-container {
    flex: 0 1;
    width: 100%;
    height: fit-content;
    padding: 0.75vh 0.5vh;
    box-sizing: border-box;
    border-top: 1px solid #000;
    -webkit-box-shadow: 0px -1px 4px #323232bf;
    -moz-box-shadow: 0px -1px 4px #323232bf;
    box-shadow: 0px -1px 4px #323232bf;
}

.form-container {
    display: flex;
    width: 100%;
}

.message-input {
    flex: 1 0;
    padding: 0.4em;
    margin-right: 0.25em;
    width: 70%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000000;
    outline: none;
    background-color: #00000080;
    color: #fff;
    letter-spacing: 0.05em;
    font-size: 0.9em;
}

#typing-indicator {
    font-size: 0.75em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ccc !important;
    padding: 0.25em;
}

.send-button {
    flex: 0 0;
    padding: 0em 0.5em;
    outline: none;
    color: #6b6b6b !important;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #00000080 !important;
    cursor: pointer;
    font-size: 1.25em;
}

.video-js.vjs-fluid, .video-js.vjs-16-9, .video-js.vjs-4-3 {
    padding: 0;
    height: 100%;
    width: 100%;
}

.vjs-tech, .vjs-control, .vjs-big-play-button, .vjs-menu-button, .vjs-menu-item {
    outline: none;
}

.vjs-playback-rate .vjs-playback-rate-value {
    font-size: 1.5em;
}

.video-js .vjs-title-bar {
    background: rgba(0, 0, 0, 0.5);
    color: white;

    /*
        By default, do not show the title bar.
    */
    display: none;
    font-size: 2em;
    padding: .5em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
  
/* 
Only show the title bar after playback has begun (so as not to hide
the big play button) and only when paused or when the user is 
interacting with the player.
*/
.video-js.vjs-paused.vjs-has-started .vjs-title-bar,
.video-js.vjs-user-active.vjs-has-started .vjs-title-bar{
    display: block;
}
  
.form-divider {
    color: #000000;
    display: inline-block;
    margin: 0px 5px;
}

.form-divider-line {
    border-color: #000000;
    display: inline-block;
    width: 12.5vw;
    margin: 0;
    margin-bottom: 3px;
}